{% extends 'app_user/auth_base.html' %}
{% load static %}
{% load humanize %}


{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="notification is-toast alert alert-{{message.tags}} text-center" role="alert" style="background-color: red; color: #fff; border-radius: 6px; font-weight: 600; z-index: 1;">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

{% include "app_user/header.html" %}
{% include "app_user/sidebar.html" %}

<!--Page Content Holder -->
        <div id="content">

            <div class="content-admin-main">


                <div class="wt-admin-right-page-header clearfix">
                    <h2>Available Jobs</h2>
                    <div class="breadcrumbs"><a href="#">Dasboard</a><span>Change Password</span></div>
                </div>
                

                <div class="container">
                    <div class="row">
                        
                        <div class="col-lg-4 col-md-12 rightSidebar">

                            <div class="side-bar">

                                <div class="sidebar-elements search-bx">
                                                                            
                                    <form method="post">
                                        
                                        <div class="form-group mb-4">
                                            <h4 class="section-head-small mb-4">Job Type</h4>
                                            <div class="tagcloud">
                                                {% for item in job_types %}
                                                    <a href="{% url 'job:search_job' 'job_type' item %}">{{ item }}</a>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        
                                        

                                        <div class="form-group mb-4">
                                            <h4 class="section-head-small mb-4">By Country</h4>
                                            {% if countries %}
                                                <div class="tagcloud">
                                                    {% for item in countries %}
                                                        <a href="{% url 'job:search_job' 'country' item %}">{{ item }}</a>
                                                    {% endfor %}
                                                </div>
                                            {% else %}
                                            <div class="tagcloud">
                                                Nothing yet!
                                            </div>
                                            {% endif %}

                                        </div>

                                        <div class="form-group mb-4">
                                            <h4 class="section-head-small mb-4">Category</h4>
                                            {% if categories %}
                                                {% for item in categories %}
                                                <a href="{% url 'job:search_job' 'category' item %}"><button type="submit" class="btn btn-outline-primary mb-2" type="button"><i class="icofont icofont-star-shape"></i> {{ item }}</button></a>
                                                {% endfor %}
                                            {% else %}

                                            {% endif %}
                                        </div>

                                        

                                        
                                        
                                    </form>
                                    
                                </div>

                                

                                
                            </div>

                            

                        </div>

                        <div class="col-lg-8 col-md-12">
                            

                            <!--Filter Short By-->
                            <div class="  m-b30">
                                
                               <div class="twm-bnr-search-bar">
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="row">


                                        <!--Title-->
                                        <div class="form-group col-xl-3 col-lg-6 col-md-6">
                                            <label>category</label>
                                            <select name="category" class="wt-search-bar-select selectpicker"  data-live-search="true" title="" id="j-Job_Title" data-bv-field="size">
                                                <option  value="all" selected>All Categories</option>
                                                {% for item in categories %}
                                                    <option value="{{ item }}">{{ item }}</option>
                                                {% endfor %} 
                                            </select>
                                        </div>

                                        <!--All Category-->
                                        <div class="form-group col-xl-3 col-lg-6 col-md-6">
                                            <label>Job Type</label>
                                            <select name="job_type" class="wt-search-bar-select selectpicker"  data-live-search="true" title="" id="j-All_Category" data-bv-field="size">
                                                <option  value="all" selected>All Categories</option>
                                                {% for item in job_types %}
                                                    <option value="{{ item }}">{{ item }}</option>
                                                {% endfor %} 
                                            </select>
                                        </div>

                                        <!--Location-->
                                        <div class="form-group col-xl-3 col-lg-6 col-md-6">
                                            <label>Location</label>
                                            <div class="twm-inputicon-box">
                                                <input name="location" type="text" required class="form-control" placeholder="Search..." required>
                                                <i class="twm-input-icon fas fa-map-marker-alt"></i>
                                            </div>
                                        </div>

                                        <!--Find job btn-->
                                        <div class="form-group col-xl-3 col-lg-6 col-md-6">
                                            <button type="submit" class="site-button" style="background-color:#24695c">Find Job</button>
                                        </div>

                                    </div>
                                </form>
                            </div>



                                

                            </div>

                            <div class="row">
                                <!--Block one-->
                                {% for item in jobs %}
                                <div class="col-lg-6 col-md-12 m-b30">

                                    <div class="twm-jobs-grid-style1">
                                        <div class="twm-media">
                                            <img src="{{ item.app_user.agency_logo.url }}" alt="#">
                                        </div>
                                        
                                        <div class="twm-jobs-category green"><span class="twm-bg-green">{{ item.job_type }}</span></div>
                                        <div class="twm-mid-content">
                                            <a href="{% url 'job:job_detail' item.id %}" class="twm-job-title">
                                                <h4>{{ item.title }}</h4>
                                            </a>
                                            <p class="" style="color: #2db346">{{ item.pub_date }}</p>
                                            <p class="twm-job-address">{{ item.description|safe|truncatewords:10 }}</p>
                                            <a target="_blank" href="{{ item.website }}" class="twm-job-websites site-text-primary">{{ item.website }}</a>
                                        </div>
                                        <div class="twm-right-content">
                                            
                                            <div class="twm-jobs-amount">${{ item.salary }} <span>/ Year</span></div>
                                            <a href="{% url 'job:job_detail' item.id %}" class="twm-jobs-browse site-text-primary">Browse Job</a>
                                        </div>
                                    </div>

                                </div>
                                {% endfor %}
                                
                                
                                </div>
                            </div>

                             
                        <!--
                            <div class="pagination-outer">
                                <div class="pagination-style1">
                                    <ul class="clearfix">
                                        <li class="prev"><a href="javascript:;"><span> <i class="fa fa-angle-left"></i> </span></a></li>
                                        <li><a href="javascript:;">1</a></li>
                                        <li class="active"><a href="javascript:;">2</a></li>
                                        <li><a href="javascript:;">3</a></li>
                                        <li><a class="javascript:;" href="javascript:;"><i class="fa fa-ellipsis-h"></i></a></li>
                                        <li><a href="javascript:;">5</a></li>
                                        <li class="next"><a href="javascript:;"><span> <i class="fa fa-angle-right"></i> </span></a></li>
                                    </ul>
                                </div>
                            </div>
                        -->
                        </div>

                    </div>
                </div>
            </div>   
            <!-- OUR BLOG END -->
          
            
     
        </div>
        <!-- CONTENT END -->

{% endblock %}