{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

	<!-- META -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />    
    <meta name="description" content="" />
    
    <!-- FAVICONS ICON -->
    <link rel="icon" href="https://aibra.io/static/main/assets/img/fav.png" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="https://aibra.io/static/main/assets/img/fav.png" />
    
    <!-- PAGE TITLE HERE -->
    <title>Jobzilla Template | Home Page Style 1</title>
    
    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}"><!-- BOOTSTRAP STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.min.css' %}"><!-- FONTAWESOME STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/feather.css' %}"><!-- FEATHER ICON SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/owl.carousel.min.css' %}"><!-- OWL CAROUSEL STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/magnific-popup.min.css' %}"><!-- MAGNIFIC POPUP STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/lc_lightbox.css' %}"><!-- Lc light box popup -->     
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap-select.min.css' %}"><!-- BOOTSTRAP SLECT BOX STYLE SHEET  -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/dataTables.bootstrap5.min.css' %}"><!-- DATA table STYLE SHEET  -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/select.bootstrap5.min.css' %}"><!-- DASHBOARD select bootstrap  STYLE SHEET  -->     
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/dropzone.css' %}"><!-- DROPZONE STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/scrollbar.css' %}"><!-- CUSTOM SCROLL BAR STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/datepicker.css' %}"><!-- DATEPICKER STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/flaticon.css' %}"> <!-- Flaticon -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}"><!-- MAIN STYLE SHEET --> 
    <script src="https://cdn.jsdelivr.net/npm/metamask-web3-provider/dist/metamask-web3-provider.min.js"></script> 

</head>

<body>

    <!-- LOADING AREA START ===== -->
    <div class="loading-area">
        <div class="loading-box"></div>
        <div class="loading-pic">
            <div class="wrapper">
                <div class="cssload-loader"></div>
            </div>
        </div>
    </div>
    <!-- LOADING AREA  END ====== -->

	<div class="page-wraper">
 
        

{% block content %}


{% endblock %}

        



<!-- JAVASCRIPT  FILES ========================================= --> 
<script  src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script><!-- JQUERY.MIN JS -->
<script  src="{% static 'assets/js/popper.min.js' %}"></script><!-- POPPER.MIN JS -->
<script  src="{% static 'assets/js/bootstrap.min.js' %}"></script><!-- BOOTSTRAP.MIN JS -->
<script  src="{% static 'assets/js/magnific-popup.min.js' %}"></script><!-- MAGNIFIC-POPUP JS -->
<script  src="{% static 'assets/js/waypoints.min.js' %}"></script><!-- WAYPOINTS JS -->
<script  src="{% static 'assets/js/counterup.min.js' %}"></script><!-- COUNTERUP JS -->
<script  src="{% static 'assets/js/waypoints-sticky.min.js' %}"></script><!-- STICKY HEADER -->
<script  src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script><!-- MASONRY  -->
<script  src="{% static 'assets/js/imagesloaded.pkgd.min.js' %}"></script><!-- MASONRY  -->
<script  src="{% static 'assets/js/owl.carousel.min.js' %}"></script><!-- OWL  SLIDER  -->
<script  src="{% static 'assets/js/theia-sticky-sidebar.js' %}"></script><!-- STICKY SIDEBAR  -->
<script  src="{% static 'assets/js/lc_lightbox.lite.js' %}" ></script><!-- IMAGE POPUP -->
<script  src="{% static 'assets/js/bootstrap-select.min.js' %}"></script><!-- Form js -->
<script  src="{% static 'assets/js/dropzone.js' %}"></script><!-- IMAGE UPLOAD  -->
<script  src="{% static 'assets/js/jquery.scrollbar.js' %}"></script><!-- scroller -->
<script  src="{% static 'assets/js/bootstrap-datepicker.js' %}"></script><!-- scroller -->
<script  src="{% static 'assets/js/jquery.dataTables.min.js' %}"></script><!-- Datatable -->
<script  src="{% static 'assets/js/dataTables.bootstrap5.min.js' %}"></script><!-- Datatable -->
<script  src="{% static 'assets/js/chart.js' %}"></script><!-- Chart -->
<script  src="{% static 'assets/js/custom.js' %}"></script><!-- CUSTOM FUCTIONS  -->

<script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
<script src="https://unpkg.com/web3@latest/dist/web3.min.js"></script>
<script src="{% static 'js/index2.js' %}"></script>

</body>


</html>


            
             


            
        </header>
        <!-- HEADER END -->