{% extends 'app_user/auth_base.html' %}
{% load static %}


{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="notification is-toast alert alert-{{message.tags}} text-center" role="alert" style="background-color: red; color: #fff; border-radius: 6px; font-weight: 600; z-index: 1;">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<!-- Login Section Start -->
            <div class="section-full site-bg-white">
                
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-5 col-lg-6 col-md-7">
                            <div class="twm-log-reg-form-wrap">
                                <div class="twm-log-reg-logo-head">
                                    <a href="/">
                                        <img src="https://aibra.io/static/main/images/aibra4.png" alt="" class="logo">
                                    </a> 
                                </div>
                                <form method="post">
                                {% csrf_token %}
                                <div class="twm-log-reg-inner">
                                    <div class="twm-log-reg-head">
                                        <div class="twm-log-reg-logo">
                                            <span class="log-reg-form-title">Forgot</span>
                                        </div>
                                    </div>
                                    <div class="twm-tabs-style-2">
                                        
                                        <div class="tab-content" id="myTab2Content">
                                            <!--Login Candidate Content-->  
                                            <div class="tab-pane fade show active" id="twm-login-candidate">
                                                <div class="row">

                                                    <div class="col-xl-12 col-lg-12 col-md-12">
                                                        <div class="form-group">
                                                            <label>Email Address</label>
                                                            <div class="ls-inputicon-box"> 
                                                                <input class="form-control" name="username" type="email" placeholder="Devid@example.com">
                                                                <i class="fs-input-icon fas fa-at"></i>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-12">
                                                        <div class="twm-forgot-wrap">
                                                            <div class="form-group mb-3">
                                                                <div class="form-check">
                                                                    
                                                                    <label class="form-check-label rem-forgot" for="Password4">Don't have an account <a href="javascript:;" class="site-text-primary">Creat Account</a></label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <button type="submit" class="site-button">Proceed</button>
                                                        </div>
                                                    </div>
    
                                                </div>
                                            </div>
        
                                                    
                                            </div>

                                            </div>
                                        </div>
                                    </form>

                                        
                                        </div>
                                    </div>
                        <div class="col-xl-7 col-lg-4 col-md-5 twm-log-reg-media-wrap" style="background-color: #ffffff;">
                            
                                    <img src="https://img.freepik.com/free-vector/my-password-concept-illustration_114360-3579.jpg?w=740&t=st=1672011948~exp=1672012548~hmac=4a1d391ac74242a94a22037a82e523b58f983bd61f21a239a32646195ade2555" alt="">
                               
                        </div>
                        

                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>   
            <!-- Login Section End -->

{% endblock %}