{% load static %}

<!-- HEADER START -->
        <header  class="site-header header-full-width mobile-sider-drawer-menu">

            <div class="sticky-header main-bar-wraper  navbar-expand-lg">
                <div class="main-bar">  
                                    
                    <div class="container-fluid clearfix"> 
                
                        <div class="logo-header">
                            <div class="logo-header-inner logo-header-one">
                                <a href="index.html">
                                <img width="80%" src="https://aibra.io/static/main/images/aibra4.png" alt="">
                                </a>
                            </div>
                        </div>  
                        
                        <!-- NAV Toggle Button -->
                        <button id="mobile-side-drawer" data-target=".header-nav" data-toggle="collapse" type="button" class="navbar-toggler collapsed">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar icon-bar-first"></span>
                            <span class="icon-bar icon-bar-two"></span>
                            <span class="icon-bar icon-bar-three"></span>
                        </button> 

                        <!-- MAIN Vav -->
                        <div class="nav-animation header-nav navbar-collapse collapse d-flex justify-content-center">
 
                            <ul class=" nav navbar-nav">
                                <li><a href="javascript:;">Dashboard</a></li>
                                

                                
                                <li class="has-child"><a href="javascript:;">Pages</a>
                                    <ul class="sub-menu">
                                        <li><a href="about-1.html">About Us</a></li> 
                                        <li><a href="pricing.html">Tokenomics</a></li> 
                                        <li><a href="pricing.html">Whitepaper</a></li>
                                    </ul>                                                                
                                </li>
                                
                                <li class="has-child"><a href="javascript:;">Blog</a></li>
                            </ul>

                        </div>
                        
                        <!-- Header Right Section-->
                        <div class="extra-nav header-2-nav">
                            
                            <div class="extra-cell">
                                <div class="header-nav-btn-section">
                                    <div class="twm-nav-btn-left">
                                        <a class="twm-nav-sign-up" href="{% url 'app_user:sign_up' %}" role="button">
                                            <i class="feather-log-in"></i> Sign Up
                                        </a>
                                    </div>
                                    <div class="twm-nav-btn-right">
                                        <a data-bs-toggle="modal" href="dash-post-job.html" class="twm-nav-post-a-job">
                                            <i class="feather-briefcase"></i> Post a job
                                        </a>
                                    </div>
                                </div>
                            </div> 
                                
                        </div>                            
                    
                                                    
                        
                    </div>    
                
                
                </div>

                <!-- SITE Search -->
                <div id="search"> 
                    <span class="close"></span>
                    <form role="search" id="searchform" action="https://thewebmax.org/search" method="get" class="radius-xl">
                        <input class="form-control" value="" name="q" type="search" placeholder="Type to search"/>
                        <span class="input-group-append">
                            <button type="button" class="search-btn">
                                <i class="fa fa-paper-plane"></i>
                            </button>
                        </span>
                    </form>
                </div> 
            </div>  
        </header>
        <!-- HEADER END -->
